
{% include 'header.html' %}
<div class="home">
<div class="container-home">
    <h1>Bienvenidos a Alpamayo</h1>
    <p> Descubre nuestra colección de accesorios de lana de alpaca, donde la elegancia 
        se encuentra con la comodidad. Cada pieza, desde bufandas hasta gorros, está 
        elaborada con lana de alta calidad, ofreciendo suavidad y calidez. 
        Nuestros productos no solo son perfectos para abrigarte en los días fríos, sino 
        que también añaden un toque de estilo a cualquier atuendo. Explora nuestra gama 
        y disfruta del lujo que solo la lana de alpaca puede ofrecer.
    </p>
    <a href="{{url_for('catalogo')}}" class="btn-1">Ver Catálogo</a>
</div>
</div>
</body>
</html>
{% include 'footer.html' %}