{% include 'admin_header.html' %}
<div class="container mt-5">
    <h2>Pedidos Realizados</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Pedido</th>
                <th>Producto</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido[0] }}</td>
                <td>{{ pedido[1] }}</td>
                <td>{{ pedido[2] }}</td>
                <td>{{ pedido[3] }}</td>
                <td>{{ pedido[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}
